<div class="container">
  <div class="content-box">
    <h2>Carrito de Compras</h2>
    <div *ngIf="cartItems.length > 0; else emptyCart">
      <ul>
        <li *ngFor="let cartItem of cartItems">
          <img *ngIf="cartItem.image" [src]="cartItem.image" alt="{{cartItem.title}}" style="width: 50px; height: 50px; object-fit: contain; margin-right: 10px;" />
          <span>{{ cartItem.title }} (x{{ cartItem.quantity }}) - ${{ cartItem.price * cartItem.quantity }}</span>
          <button (click)="removeItem(cartItem.productId)" class="common-button delete-button ms-2">Eliminar</button>
        </li>
      </ul>
      <div class="cart-total">
        <strong>Total: ${{ getTotal() }}</strong>
      </div>
      <div class="button-group">
        <button (click)="goBack()" class="common-button">Volver</button>
        <button (click)="clearCart()" class="common-button delete-button">Vaciar carrito</button>
        <button (click)="buy()" class="common-button">Comprar</button>
      </div>
    </div>
    <ng-template #emptyCart>
      <p>El carrito está vacío.</p>
    </ng-template>
  </div>
</div>
