.edit-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Playfair Display', serif;
}

.edit-account-box {
  padding: 20px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  background-color: white;
}

.edit-account-title {
  color: #a67c52;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.edit-account-form {
  text-align: left;
}

.edit-account-form-group {
  margin-bottom: 15px;
}

.edit-account-label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.edit-account-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.common-button {
  background-color: #a67c52;
  border: 1px solid #a67c52;
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  border-radius: 8px;
  padding: 0.5rem 1.3rem;
  cursor: pointer;
  box-shadow: none;
  font-size: 1rem;
}

.common-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
