.edit-account-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.common-button {
  width: 140px;
  height: 40px;
  font-size: 1.1rem;
  font-weight: normal;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: none;
  margin: 0 0px;
  background-color: #a67c52;
  color: white;
  border: none;
  font-family: 'Playfair Display', serif;
  white-space: nowrap;
  text-align: center;
}

.common-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
