<div class="container" *ngIf="cartItems.length > 0; else emptyCart">
  <div class="content-box">
    <h2>Carrito de Compras</h2>
    <ul>
      <li *ngFor="let cartItem of cartItems">
        <img *ngIf="cartItem.image" [src]="cartItem.image" alt="{{cartItem.title}}" class="cart-item-image" />
        <span>{{ cartItem.title }} (x{{ cartItem.quantity }}) - ${{ cartItem.price * cartItem.quantity }}</span>
        <button (click)="removeItem(cartItem.productId)" class="common-button delete-button">Eliminar</button>
      </li>
    </ul>
    <div class="cart-total">
      <strong>Total: ${{ getTotal() }}</strong>
    </div>
    <div class="button-group">
      <button (click)="clearCart()" class="common-button">Vaciar carrito</button>
      <button (click)="goBack()" class="common-button">Volver</button>
      <button (click)="goToShop()" class="common-button">Comprar</button>
    </div>
  </div>
</div>
<ng-template #emptyCart>
  <div class="container">
  <div class="content-box">
      <p>El carrito está vacío.</p>
      <div class="button-group">
        <button (click)="goToShop()" class="common-button">Comprar</button>
        <button (click)="goBack()" class="common-button">Volver</button>
      </div>
    </div>
  </div>
</ng-template>
