<div class="container mt-4">
  <div class="titulo-destacado" style="background: transparent !important; box-shadow: none; padding: 0; margin: 60px auto 0 auto; text-align: center; max-width: 900px;">
    <h1 style="font-family: 'Playfair Display', serif; margin-bottom: 0;">
      Descubrí lo mejor<br />para tu hogar
    </h1>
    <a routerLink="/new-product-page" style="background-color: #a67c52; color: white; padding: 12px 32px; font-size: 1.2rem; border-radius: 8px; cursor: pointer; margin-top: 12px; display: inline-block; text-align: center; text-decoration: none;">
      Ver productos
    </a>
  </div>

  <app-carousel [images]="images"></app-carousel>
</div>

<div class="scroll-top-outside-footer">
  <button class="scroll-top-button" (click)="scrollToTop()" aria-label="Volver al principio">
    &#8679;
  </button>
</div>
<footer class="footer">
  <p>Copyright My Home Store - 2025. TODOS LOS DERECHOS RESERVADOS</p>
</footer>
