.common-button {
  background-color: #a67c52;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.common-button:hover {
  background-color: #8c6239;
}

.edit-account-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid black;
  outline: none;
  background-color: transparent;
  font-family: 'Playfair Display', serif;
}
